{% extends 'baseLoggedIn.html' %}

{% block body %}




<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                
                                <div class="userData ml-3">
                                    <h1 class="d-block" style="font-size: 3rem; font-weight: bold"><strong>{{user.first_name}}</strong> </h1>
                                    
                                </div>
                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                       
                                    
                                <div class="tab-content ml-1" id="myTabContent">
                                    
                                        

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold ;"> Full Name</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                               {{user.first_name}} {{user.last_name}}
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Birth Date</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                               
                                            </div>
                                        </div>
                                        <hr />
                                        
                                        
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Roll Number</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{user.roll}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Hostel</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{user.hostel}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Mess Subscription</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{user.subscribed_mess_hostel}}
                                            </div>
                                        </div>
                                        <hr />
                                        <h2 style="font-family:Comic Sans MS">If the above details are not correct please contact Academic Section.</h2>

                                   
                                </div>
                            </div>
                        </div>



                </div>
            </div>
        </div>
    </div>


 {%endblock%}